image/vmmaker3.10
image/JMMFixBackToTrunk.2.cs
image/package-cache
image/PharoDebug.log
push.sh
image/SqueakDebug.log
notes/
platforms/iOS/plugins/FT2Plugin/build/
platforms/iOS/plugins/SqueakLocale/build/
platforms/iOS/plugins/UnixOSProcessPlugin/build/
platforms/iOS/vm/build 
src/
stacksrc/
Compiled/
/build/
/platforms/iOS/vm/build/Distribution/Squeak.app/Contents/MacOS/Squeak
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/build-state.dat
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/ADPCMCodecPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/B2DPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/BitBltPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/BMPReadWriterPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/ClipboardExtendedPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/cogit.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/DropPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/DSAPrims.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/FFTPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/FilePlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/FloatArrayPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/gcc3x-cointerp.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/GeniePlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/JPEGReaderPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/JPEGReadWriter2Plugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/Klatt.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/LargeIntegers.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/MacMenubarPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/Matrix2x3Plugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/MiscPrimitivePlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/ObjectiveCPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/RePlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/SecurityPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/SocketPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/SoundCodecPrims.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/SoundGenerationPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/sqSqueakMainApp.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/sqSqueakMainApplication+attributes.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/Squeak.LinkFileList
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/Squeak3D.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/StarSqueakPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/SurfacePlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/UnixOSProcessPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/UUIDPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/Objects-normal/i386/ZipPlugin.o
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution/SqueakPureObjc.build/SqueakPureObjc.dep
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/categories.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/cdecls.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/decls.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/files.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/imports.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/pbxindex.header
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/protocols.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/refs.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/strings.pbxstrings/control
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/strings.pbxstrings/strings
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/subclasses.pbxbtree
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/SqueakPureObjcCogVM.pbxindex/symbols0.pbxsymbols
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution-iphoneos/SqueakNoOGLIPhone.build/build-state.dat
/platforms/iOS/vm/build/SqueakPureObjcCogVM.build/Distribution-iphoneos/SqueakNoOGLIPhone.build/SqueakNoOGLIPhone.dep
/stacksrc/examplePlugins.ext
/stacksrc/vm/exampleSqNamedPrims.h
/stacksrc/vm/gcc3x-interp.c
/stacksrc/vm/interp.c
/stacksrc/vm/interp.h
/image/BaseExtensionsForVMMaker.1.cs
/image/NecessaryImageChangesForCogToWork.1.cs
/image/sanity-check
/image/Translated Primitives.st
/image/VM Simulation Workspace.text
/image/VMMaker-Squeak4.1.changes
/image/VMMaker-Squeak4.1.image
/image/Workspace.text
/image/Workspace2.text
/image/